<div class="background-img">
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-menu></app-menu>
  </div>
  <div class="main-div">
    <div class="main-Navigation">
      公司报告
      <img src="../../../../../assets/images/kfzx.jpg">
    </div>
    <div class="myinfo-div">
      <div class="myinfo-div-d1">
        <div class="myinfo-div-table">
          <div class="admin-div">
            <div class="div-header news-width-checkbox">
              <input type="checkbox">
            </div>
            <div class="div-header news-width-number">
              编号
            </div>
            <div class="div-header news-width-title">
              标题
            </div>
            <div class="div-header news-width-content">
              内容
            </div>
            <div class="div-header news-width-date">
              发布日期
            </div>
            <div class="div-header news-width-author">
              作者
            </div>
            <div class="div-header news-width-operation">
              操作
            </div>
           </div>
          <div class="admin-div" *ngFor="let item of data.data;let i = index">
            <div class="div-data news-width-checkbox">
              <input type="checkbox">
            </div>
            <div class="div-data news-width-number data-color">
              {{item.id}}
            </div>
            <div class="div-data news-width-title data-color">
                {{item.title}}
            </div>
              <div class="div-data news-width-content data-color">
                {{item.content}}
              </div>
              <div class="div-data news-width-date data-color">
                {{item.publishTime | amSubtract: 5 : 'years' | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
              </div>
              <div class="div-data news-width-author data-color">
                管理员
              </div>
              <div class="div-data news-width-operation">
                <a routerLink="/admin/newinfo_updata">修改</a>&nbsp;&nbsp;
                <a href="#" (click)="customer.del_new()">删除</a>
              </div>
             <div class="clear"></div>
            </div>
            <div class="admin-div div-center-align">
              <div class="news-div-input">
                <input type="button" (click)="new_add()" class="button-1 button-width" value="添加记录">
                <input type="button" (click)="info_add()" class="button-2 button-width" value="删除选定记录">
              </div>
              <div class="row div-news-width">
                <div class="col-xs-12 col-12 div-center padding-top-15px">
                  <pagination [boundaryLinks]="!showBoundaryLinks" [totalItems]="this.pointtotal" (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
