<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-repass.png">
          个人档案
        </div>
        <div class="user-bottom">
          <div class="user-left">
            <p>会员编号</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              *请输入您的【居住权证】上面的证书编号
            </div>
          </div>
          <div class="user-left">
            <p>真实姓名</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>会员性别</p>
          </div>
          <div class="user-right">
            <div class="user-input">
             <select>
               <option selected="selected" value="">请选择会员性别</option>
               <option value="">男</option>
               <option value="">女</option>
             </select>
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>身份证号</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>登录密码</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              <span>  * 密码不能小于6位！</span>
            </div>
          </div>
          <div class="user-left">
            <p>家庭地址</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>联系电话</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>会员级别</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <select>
                <option selected="selected" value="">请选择客户类型</option>
                <option value="">普通会员</option>
                <option value="">白银会员</option>
                <option value="">黄金会员</option>
                <option value="">钻石会员</option>
              </select>
            </div>
          </div>
          <div class="user-left">
            <p>发证日期</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="">
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
