<div class="user-background main-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-repass.png">
          个人档案
        </div>
        <div class="user-bottom">
          <div class="user-left">
            <p>会员编号</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="" #account>
              *请输入您的【居住权证】上面的证书编号
            </div>
          </div>
          <div class="user-left">
            <p>真实姓名</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="" #realName>
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>会员性别</p>
          </div>
          <div class="user-right">
            <div class="user-input">
             <select  value="" #gender>
               <option value="" selected="selected">请选择会员性别</option>
               <option value="0">男</option>
               <option value="1">女</option>
             </select>
              <span> * 必须选择！</span>
            </div>
          </div>
          <div class="user-left">
            <p>身份证号</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="" #identityNumber>
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>登录密码</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="password" minlength="6" value="" #password>
              <span>  * 密码不能小于6位！</span>
            </div>
          </div>
          <div class="user-left">
            <p>确认密码</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="password" minlength="6" value="" #surePassword>
              <span>  * 密码不能小于6位！</span>
            </div>
          </div>
          <div class="user-left">
            <p>家庭地址</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <select value="" #province>
                <option *ngFor="let item of provinces;">{{item}}</option>
              </select>
              省
              <input type="text" value="" #city>市
              <input type="text" value="" #address>
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>联系电话</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" value="" #phone>
              <span> * 必须输入！</span>
            </div>
          </div>
          <div class="user-left">
            <p>会员级别</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <select value="" #rankId>
                <option value="" selected="selected" ></option>
                <option value="1">普卡会员</option>
                <option value="2">银卡会员</option>
                <option value="3">金卡会员</option>
                <option value="4">钻卡会员</option>
              </select>
              <span>* 必须选择！</span>
            </div>
          </div>
          <div class="user-left">
            <p>发证日期</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="text" readonly="readonly" value="{{date}}" #certificationTime>
            </div>
          </div>
          <div class="button-center">
            <img src="../../../../../assets/images/hyzc.jpg" (click)="regAdd(
              account.value, realName.value, gender.value, rankId.value, identityNumber.value,
              password.value, surePassword.value, phone.value, province.value, city.value, address.value,
               certificationTime.value
            )">
            &nbsp;&nbsp;&nbsp;
            <img src="../../../../../assets/images/reset.jpg" (click)="reset()">
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
