<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-main-div">
    <div class="message-centon">
      <div class="main-message-img">
        <div class="message-header">
          <img src="../../../../../assets/images/background-message.png">
          最新公告
        </div>
        <div class="message-content">
          <img src="../../../../../assets/images/user-message.gif">
          <div class="div-content">
            暂无内容....
          </div>
        </div>
      </div>
      <div class="message-page">
        共0页0条记录
      </div>
    </div>
  </div>
</div>
