<header class="header-div">
      <div class="div-img">
        <div class="company-name">
          贵州盛华天宝养老服务管理有限公司
        </div>
        <div class="login-name">
          欢迎 <span class="name">{{adminHeader.data.realName}}</span>，角色：
          <img src="../../../../../assets/images/gly.jpg">
          <a routerLink="/admin/admin"> 管理员 </a>
          <img src="../../../../../assets/images/tcdl.jpg">
          <a href="/admin"> 退出登陆 </a>
          <img src="../../../../../assets/images/ptsy.jpg">
          <a routerLink="/admin/main"> 平台首页 </a>
        </div>
      </div>
</header>
