
header{
  border-spacing:2px;
  width: 91%;
  float: right;
}
.header-div{
  position: absolute;
  left: 280px;
  width: 78%;
  float: right;
  height: 60px;
  padding: 5px 40px 0 0;
}

.div-img{
  width: 100%;
  height: 60px;
  background: url("../../../../../assets/images/title_bg.jpg");
}
.company-name {
  font-size: 22px;
  font-family: 微软雅黑;
  float: left;
  height: 60px;
  width: 25%;
}
.header-d1{
  float: right;
  width: 50%;
  height: 60px;
  margin: auto 0;
}
.login-name{
  float: left;
  padding: 20px 0;
  width: 75%;
  text-align: -webkit-right;
  font-size: 12px;
}
.name{
  color: #0084ff;
  font-weight: bold;
}
img{
  vertical-align: middle;
}
a{
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

