<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-repass.png">
          修改密码
        </div>
        <div class="user-bottom">
          <div class="user-left">
            <p>会员编号</p>
          </div>
          <div class="user-right">
            <p>059186</p>
          </div>
          <div class="user-left">
            <p>会员级别</p>
          </div>
          <div class="user-right">
            <p>钻石会员</p>
          </div>
          <div class="user-left">
            <p>真实姓名</p>
          </div>
          <div class="user-right">
            <p>T</p>
          </div>
          <div class="user-left">
            <p>请输入旧密码</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="password" value="" #oldPassword>
              <span> *必须输入</span>
            </div>
          </div>
          <div class="user-left">
            <p>请输入新密码</p>
          </div>
          <div class="user-right">
            <div class="user-input">
              <input type="password" value="" #newPassword>
              <span> *必须输入</span>
            </div>
          </div>
          <div class="user-left">
            <p>请确认新密码</p>
          </div>
          <div class="user-right">
           <div class="user-input">
             <input type="password" value="" #sureNewPassWord>
             <span> *必须输入</span>
           </div>
          </div>
          <div class="button-center">
            <img src="../../../../../assets/images/confirm.jpg" (click)="repass(oldPassword.value, newPassword.value, sureNewPassWord.value)">
            &nbsp;&nbsp;&nbsp;
            <img src="../../../../../assets/images/reset.jpg" (click)="reset()">
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
