<div class="background-img height-div">
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-menu></app-menu>
  </div>


  <div class="main-div">
    <div class="main-Navigation">
      管理回复
      <img src="../../../../../assets/images/kfzx.jpg">
    </div>
    <div class="myinfo-div height-div">
      <div class="myinfo-div-d1">
        <div class="myinfo-div-table">
          <div class="myinfo-div-inf">
            <p>留言编号</p>
          </div>
          <div class="myinfo-div-data">
            <p>修改的编号，未填写中</p>
          </div>
          <div class="myinfo-div-inf" >
            <p>留言时间</p>
          </div>
          <div class="myinfo-div-data">
            <p>2018-07-27 07:57:28</p>
          </div>
          <div class="myinfo-div-inf">
            <p>留言会员</p>
          </div>
          <div class="myinfo-div-data">
            <p>697184</p>
          </div>
          <div class="myinfo-div-inf">
            <p>会员姓名</p>
          </div>
          <div class="myinfo-div-data">
            <p>韩亚娟</p>
          </div>
          <div class="myinfo-div-inf">
            <p>联系方式</p>
          </div>
          <div class="myinfo-div-data">
            <p>15104335758</p>
          </div>
          <div class="myinfo-div-inf">
            <p>留言标题</p>
          </div>
          <div class="myinfo-div-data">
            <p>看组员内容怎么找</p>
          </div>
          <div class="myinfo-div-inf">
            <p>留言内容</p>
          </div>
          <div class="myinfo-div-data">
            <p>怎么看不到组员内容</p>
          </div>
          <div>
            <div class="myinfo-div-inf">
              <p>管理回复</p>
            </div>
            <div class="myinfo-div-data textarea-div">
              <textarea class="textarea-div" id="meginfo-textarea" value=""></textarea>
            </div>
            <div class="clear"></div>
          </div>
          <div class="myinfo-div-inf">
            <p>状态</p>
          </div>
          <div class="myinfo-div-data">
            <p>
              <input type="checkbox" >
              &nbsp;勾选表示问题处理完毕
            </p>
          </div>
          <div class="repass-button">
            <input type="button" (click)="customer.meg_updata()" class="button-1 button-width" value="保存编辑">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" (click)="customer.button_empty('#meginfo-textarea')" class="button-2 button-width" value="清空重填">
          </div>
          <div class="clear"></div>
        </div>

      </div>
      <div class="history-meg">
        <div class="history-meg-title">
          历史留言
        </div>
        <div class="newinfo-div-table">
          <div class="newinfo-div-padding">
            <div>
              <div class="div-header meginfo-width-member">
                留言会员
              </div>
              <div class="div-header meginfo-width-title">
                留言标题
              </div>
              <div class="div-header meginfo-width">
                留言内容
              </div>
              <div class="div-header meginfo-width-reply">
                管理回复
              </div>
              <div class="div-header meginfo-width-operation">
                操作
              </div>
              <div class="clear"></div>
            </div>
            <div>
              <div class="div-data meginfo-width-member data-color">
                [会员编号]
              </div>
              <div class="div-data meginfo-width-title data-color">
                1234
              </div>
              <div class="div-data meginfo-width data-color">
                2018-11-29 24:59:59
              </div>
              <div class="div-data meginfo-width-reply data-color">
                管理员
              </div>
              <div class="div-data meginfo-width-operation">
                <a routerLink="/messageinfo">查看</a>&nbsp;&nbsp;
                <a href="#" (click)="customer.del_meg()">删除</a>
              </div>
              <div class="clear"></div>
            </div>
            <div class="meginfo-page">
              <p class="display-page">共1页1条记录</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
