
<div class="main-div">
  <div class="main-Navigation">
    天宝指数添加
    <img src="../../../../../assets/images/tycz.jpg">
  </div>
  <div class="myinfo-div">
    <div class="myinfo-div-d1">
      <div class="myinfo-div-table">
        <div class="myinfo-div-inf">
          <p>编号</p>
        </div>
        <div class="myinfo-div-data">
          <p>自动生成</p>
        </div>
        <div class="myinfo-div-inf">
          <p>上证指数</p>
        </div>
        <div class="myinfo-div-data">
          <p>
            开盘：<input type="text" value="" #shOpenExponent>
            最高：<input type="text" value="" #shMaxExponent>
            最低：<input type="text" value="" #shMinExponent>
            收盘：<input type="text" value="" #shCloseExponent>
          </p>
        </div>
        <div class="myinfo-div-inf">
          <p>天宝指数</p>
        </div>
        <div class="myinfo-div-data">
          <p>
            开盘：<input type="text" value="" #tbOpenExponent>
            最高：<input type="text" value="" #tbMaxExponent>
            最低：<input type="text" value="" #tbMinExponent>
            收盘：<input type="text" value="" #tbCloseExponent>
          </p>
        </div>
        <div class="myinfo-div-inf">
          <p>数据日期</p>
        </div>
        <div class="myinfo-div-data">
          <p><input type="text" value="{{date}}" #publishTime></p>
        </div>
        <div class="repass-button">
          <input type="button" (click)="tbIndexAdd(
             publishTime.value,
            shOpenExponent.value, shMaxExponent.value,
            shMinExponent.value, shCloseExponent.value,
            tbOpenExponent.value, tbMaxExponent.value,
            tbMinExponent.value, tbCloseExponent.value
            )" class="button-1 button-width" value="保存编辑">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" (click)="reset()" class="button-2 button-width" value="清空重填">
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
