<div class="user-background-dl ">
  <div class="user-login-background div-center">
    <div class="user-login-width">
      <div class="div-tr">
        <div class="user-div-dr">
          会员编号：
        </div>
        <div class="td-1">
          <input type="text" value="" name="username">
        </div>
      </div>
      <div class="div-tr">
        <div class="user-div-dr">
          登录密码：
        </div>
        <div class="td-1">
          <input type="password" value="" name="password">
        </div>
      </div>
      <div class="div-tr">
        <div class="user-div-dr">
          验 证 码：
        </div>
        <div class="input-code">
          <input type="text" id="code" name="validationCode">
        </div>
        <div class="code">
          <input type="button" id="checkCode" onclick="" value="{{code.data}}">
        </div>
      </div>
      <div class="button-center">
        <img src="../../../../assets/images/dl_button.jpg" (click)="mainSkip()">
        &nbsp;&nbsp;&nbsp;
        <img src="../../../../assets/images/cz_button.jpg">
      </div>
    </div>
  </div>
</div>
