<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-repass.png">
          我的留言
        </div>
        <div class="user-bottom">
         <div class="user-message">
           <div class="user-message-title user-message-center">
             我发送的留言
           </div>
           <div class="user-bottom message-bottom">
             <div class="user-left">
               <p>会员编号</p>
             </div>
             <div class="user-right">
               <p>{{userId}}</p>
               <input type="text" style="display:none" value="{{userId}}" #id>
             </div>
             <div class="user-left">
               <p>留言标题</p>
             </div>
             <div class="user-right">
               <div class="user-input">
                 <input type="text" value="" #title>
                 <span> * 必须输入</span>
               </div>
             </div>
             <div class="user-left user-message-height">
               <p>
                 留言内容<br><br>
                 <span>(* 必须输入)</span>
               </p>
             </div>
             <div class="user-right user-message-height">
               <div class="user-input user-message-height">
                 <textarea class="user-textarea-div" value="" #content></textarea>
               </div>
             </div>
           </div>
           <div class="button-center">
            <img src="../../../../../assets/images/user-message.jpg" (click)="messageUpdata(id.value, title.value, content.value)">
            &nbsp;&nbsp;&nbsp;
            <img src="../../../../../assets/images/reset.jpg" (click)="reset()">
           </div>
           <div class="history-message">
             <div class="user-message-title user-message-center">
               我发送的留言
             </div>
             <div class="button-center">
               <div class="user-header-message font-size user-header-9">编号</div>
               <div class="user-header-message font-size user-header-20">留言日期</div>
               <div class="user-header-message font-size user-header-11">标题</div>
               <div class="user-header-message font-size user-header-14">内容</div>
               <div class="user-header-message font-size user-header-14">回复</div>
               <div class="user-header-message font-size user-header-14">回复日期</div>
               <div class="user-header-message font-size user-header-7">详情</div>
             </div>
             <div class="button-center" *ngFor="let item of messageData.data;let i = index">
               <div class="ngFor-user-header-message font-size user-header-9">{{messageData.total - i}}</div>
               <input type="text" style="display:none" value="{{item.message.id}}" #messageId>
               <div class="ngFor-user-header-message font-size user-header-20">{{item.createTime}}</div>
               <div class="ngFor-user-header-message font-size user-header-11">{{item.message.title}}</div>
               <div class="ngFor-user-header-message font-size user-header-14">{{item.message.content}}</div>
               <div class="ngFor-user-header-message font-size user-header-14">{{item.message.reply}}</div>
               <div class="ngFor-user-header-message font-size user-header-14">{{item.message.replyTime}}</div>
               <div class="ngFor-user-header-message font-size user-header-7">
                 <a routerLink="#" (click)="messageInfoSkip(messageId.value)" >查看</a>
               </div>
             </div>
           </div>
           <div class="clear"></div>
         </div>
      </div>
      </div>
    </div>
  </div>
</div>
