<div class="main-div">
  <div class="main-Navigation">
    清空数据
    <img src="../../../../../assets/images/xtgl.jpg">
  </div>
  <div class="myinfo-div deldata-div">
    <div class="myinfo-div-d1">
      <div class="myinfo-div-table">
        <div class="point-div-font">
          <div class="deldata-div-font">
            请慎重操作，清空数据后全部数据不能还原恢复。
          </div>
          <div class="deldata-div-font">
            请输入清空密码：
            <input type="text">
            &nbsp;&nbsp;&nbsp;
            <input type="button" class="button-1 deldata-div-button" value="清空数据">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
