<div class="menu-width">
  <div class="menu-logo"></div>
  <div class="menu-background">
    <div class="menu-common">通用操作</div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-main.png">
      </div>
      <div class="menu-message">
        <a routerLink="../main">平台首页</a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-repass.png">
      </div>
      <div class="menu-message">
        <a routerLink="#" (click)="tiaoye()">修改密码</a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-userInfo.png">
      </div>
      <div class="menu-message">
        <a routerLink="../userInfo">我的档案</a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-reg.png">
      </div>
      <div class="menu-message">
        <a routerLink="../reg">居住权登记</a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-money.png">
      </div>
      <div class="menu-message">
        <a routerLink="../money_user_list">消费记录</a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-tbKline.png">
      </div>
      <div class="menu-message">
        <a routerLink="../tb-kline"><div>天宝K线图</div></a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-point.png">
      </div>
      <div class="menu-message">
        <a routerLink="../point">福利积分明细</a>
      </div>
    </div>
    <div class="menu-height">
      <div class="menu-img">
        <img src="../../../../../assets/images/menu-message.png">
      </div>
      <div class="menu-message">
        <a routerLink="../message">我的留言</a>
      </div>
    </div>
  </div>
</div>
