.menu-width{
  width: 7%;
}
.menu-logo{
  width: 225px;
  height: 70px;
  background: url("../../../../../assets/images/user-logo.jpg") no-repeat;
  float: left;
}
.menu-background{
  width: 225px;
  height: 684px;
  background: url("../../../../../assets/images/user-menu.jpg") no-repeat;
  background-size: 225px 684px;
  float: left;
}
.menu-common{
  font-size: 14px;
  font-weight: bold;
  color: #2b7c98;
  padding-top: 26px;
  padding-left: 25px;
  padding-bottom: 20px;
}
.menu-height{
  height: 30px;
}
.menu-img{
  float: left;
  width: 27%;
  height: 30px;
  text-align: -webkit-center;
}
.menu-message{
  width: 73%;
  text-align: -webkit-left;
}
.menu-message>a{
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}
