<div class="login-background">
  <div class="login-img loing-div-content">
    <div>
      <div class="div-tr">
        <div class="div-td">
          登录帐号：
        </div>
        <div class="td-1">
          <input type="text" value="" name="username">
        </div>
      </div>
      <div class="div-tr">
        <div class="div-td">
          登录密码：
        </div>
        <div class="td-1">
          <input type="password" value="" name="password">
        </div>
      </div>
      <div class="div-tr">
        <div class="div-td">
          验 证 码：
        </div>
        <div class="input-code">
          <input type="text" id="code" name="validationCode">
        </div>
        <div class="code">
          <input type="button" id="checkCode" onclick="" value="7890">
        </div>
      </div>
      <div class="div-tr">
        <div class="td-3">
          <input type="button" (click)="tiaozhuan()" class="button-1" value="登陆">
          <input type="button" (click)="reset()" class="button-2" value="重置">
        </div>
      </div>
    </div>
  </div>
</div>
