<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-message.png">
          留言详情
        </div>
        <div class="user-bottom">
          <div class="user-left">
            <p>留言时间	</p>
          </div>
          <div class="user-right">
            <p>{{data.data.message.createTime}}</p>
          </div>
          <div class="user-left">
            <p>标题</p>
          </div>
          <div class="user-right">
            <p>{{data.data.message.title}}</p>
          </div>
          <div class="user-left">
            <p>内容</p>
          </div>
          <div class="user-right">
            <p>{{data.data.message.content}}</p>
          </div>
          <div class="user-left">
            <p>回复</p>
          </div>
          <div class="user-right">
            <p>{{data.data.message.reply}}</p>
          </div>
          <div class="user-left">
            <p>回复时间</p>
          </div>
          <div class="user-right">
            <p>{{data.data.message.replyTime}}</p>
          </div>
          <div class="button-center">
            <a routerLink="/message">返回</a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
