<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-repass.png">
          个人档案
        </div>
        <div class="user-bottom">
          <div class="user-left">
            <p>会员编号</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.createUserId}}</p>
          </div>
          <div class="user-left">
            <p>真实姓名</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.nickName}}</p>
          </div>
          <div class="user-left">
            <p>会员性别</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.gender ? '男' : '女'}}</p>
          </div>
          <div class="user-left">
            <p>身份证号</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.identityNumber}}</p>
          </div>
          <div class="user-left">
            <p>家庭地址</p>
          </div>
          <div class="user-right">
            <p>省市</p>
          </div>
          <div class="user-left">
            <p>联系电话</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.phone}}</p>
          </div>
          <div class="user-left">
            <p>会员级别</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.rank.name}}</p>
          </div>
          <div class="user-left">
            <p>发证日期</p>
          </div>
          <div class="user-right">
            <p>{{userData.data.createTime}}</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
