<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-repass.png">
          个人档案
        </div>
        <div class="user-bottom">
          <div class="user-left">
            <p>会员编号</p>
          </div>
          <div class="user-right">
            <p>059186</p>
          </div>
          <div class="user-left">
            <p>真实姓名</p>
          </div>
          <div class="user-right">
            <p>T</p>
          </div>
          <div class="user-left">
            <p>会员性别</p>
          </div>
          <div class="user-right">
            <p></p>
          </div>
          <div class="user-left">
            <p>身份证号</p>
          </div>
          <div class="user-right">
            <p>1</p>
          </div>
          <div class="user-left">
            <p>家庭地址</p>
          </div>
          <div class="user-right">
            <p>省市</p>
          </div>
          <div class="user-left">
            <p>联系电话</p>
          </div>
          <div class="user-right">
            <p>T</p>
          </div>
          <div class="user-left">
            <p>会员级别</p>
          </div>
          <div class="user-right">
            <p>黄金甲</p>
          </div>
          <div class="user-left">
            <p>发证日期</p>
          </div>
          <div class="user-right">
            <p>2016-03-25 10:17:53</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
