<div class="background-img  main-background">
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-menu></app-menu>
  </div>

  <div class="main-div">
  <div class="main-Navigation">
    个人档案
    <img src="../../../../../assets/images/tycz.jpg">
  </div>
  <div class="myinfo-div">
    <div class="myinfo-div-d1">
      <div class="myinfo-div-table">
        <div class="myinfo-div-inf">
          <p>登录帐号</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{data.data.account}}</p>
        </div>
        <div class="myinfo-div-inf">
          <p>管理角色</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{data.data.roleList[0].name}}</p>
        </div>
        <div class="myinfo-div-inf">
          <p>真实姓名</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{data.data.realName}}</p>
        </div>
        <div class="myinfo-div-inf">
          <p>工作职务</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{name}}</p>
        </div>
        <div class="myinfo-div-inf">
          <p>身份证号</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{identityNumber}}</p>
        </div>
        <div class="myinfo-div-inf">
          <p>联系电话</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{phone}}</p>
        </div>
        <div class="myinfo-div-inf">
          <p>电子邮件</p>
        </div>
        <div class="myinfo-div-data">
          <p>{{email}}</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
