<div class="background-img">
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-customer-menu></app-customer-menu>
  </div>
  <div class="main-div">
    <div class="main-Navigation">
      公司报告
      <img src="../../../../../assets/images/kfzx.jpg">
    </div>
    <div class="myinfo-div">
      <div class="myinfo-div-d1">
        <div class="myinfo-div-table">
          <div class="myinfo-div-inf ">
            <p>编号</p>
          </div>
          <div class="myinfo-div-data ">
            <p>自动生成</p>
          </div>
          <div class="myinfo-div-inf " >
            <p>标题</p>
          </div>
          <div class="myinfo-div-data ">
            <div class="repass-input">
              <input type="text" id="newinfo_title" #title>
            </div>
          </div>
          <div class="myinfo-div-inf ">
            <p>作者</p>
          </div>
          <div class="myinfo-div-data ">
            <p>管理员</p>
          </div>
          <div class="myinfo-div-inf ">
            <p>详细内容</p>
          </div>
          <div class="myinfo-div-data newInfo-add-width">
            <ckeditor #content>

            </ckeditor>
          </div>
          <div class="myinfo-div-inf ">
            <p>日期</p>
          </div>
          <div class="myinfo-div-data ">
            <p>{{myDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
            <input type="text" style="display:none" value="{{myDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}"  #publishTime>
          </div>
          <div class="repass-button">
            <input type="button" (click)="newAdd(title.value, content.value, publishTime.value)" class="button-1 button-width" value="保存编辑">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" (click)="customer.button_empty('#newinfo_title')" class="button-2 button-width" value="清空重填">
          </div>
          <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
