
<div class="main-div">
  <div class="main-Navigation">
    修改管理用户
    <img src="../../../../../assets/images/xtgl.jpg">
  </div>
  <div class="myinfo-div">
    <div class="myinfo-div-d1">
      <div class="myinfo-div-table">
        <div class="admin-div">
          <div class="myinfo-div-inf">
            <p>用户编号</p>
          </div>
          <div class="myinfo-div-data">
            <p>{{adminData.data.id}}</p>
            <input type="text" style="display:none" value="{{adminData.data.id}}" #adminId>
          </div>
          <div class="myinfo-div-inf" >
            <p>登陆账号</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.account}}" #account>
              <span>&nbsp;&nbsp;&nbsp;* 必须输入！</span>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>登陆密码</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="password" value="{{adminData.data.password}}" #password>
              <span>&nbsp;&nbsp;&nbsp;* 留空则不更改密码！</span>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>确认登陆密码</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="password" value="{{adminData.data.surePassword}}" #surePassword>
              <span>&nbsp;&nbsp;&nbsp;* 留空则不更改密码！</span>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>用户角色</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.roleId}}" #roleId>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>工作职务</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="">
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>真实姓名</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.realName}}" #realName>
              <span>&nbsp;&nbsp;&nbsp;* 必须输入！</span>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>身份账号</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.identityNumber}}" #identityNumber>
              <span>&nbsp;&nbsp;&nbsp;* 必须输入！</span>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>联系电话</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.phone}}" #phone>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>电子邮件</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.email}}" #email>
            </div>
          </div>
          <div class="myinfo-div-inf">
            <p>排序编号</p>
          </div>
          <div class="myinfo-div-data">
            <div class="repass-input">
              <input type="text" value="{{adminData.data.order}}" #order>
              <span>&nbsp;&nbsp;&nbsp;* 必须输入！</span>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="repass-button">
          <input type="button" class="button-1 button-width" (click)="adminUpdata(
            adminId.value,
             account.value, password.value, surePassword.value, roleId.value,
             realName.value, identityNumber.value,phone.value, email.value, order.value
            )" value="确定添加">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" (click)="reset()" class="button-2 button-width" value="清空重填">
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
