<div class="user-background main-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="tb-kline-div">
    <div class="tb-kline-width">
      <div class="tbkline-title tb-kline-div">盛华天宝K线图</div>
      <div class="user-opening-quotation">拖动下方浅蓝色条可使K线图放大缩小</div>
      <div class="kline-opening-quotatio">
        <div echarts [options]="shExponent" class="demo-chart"></div>
      </div>
      <div class="br"></div>
      <div class="tbkline-title tb-kline-div">盛华天宝K线图</div>
      <div class="user-opening-quotation">拖动下方浅蓝色条可使K线图放大缩小</div>
      <div class="kline-opening-quotatio">
        <div echarts [options]="tbExponent" class="demo-chart"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
