/* You can add global styles to this file, and also import other style files */
@import "app/components/admin/currency/main/main.component.css";
@import "app/components/admin/currency/myinfo/myinfo.component.css";
@import "app/components/admin/login/login.component.css";
@import "app/components/admin/customer/news/news.component.css";
@import "app/components/admin/currency/repass/repass.component.css";
@import "app/components/admin/customer/newinfo-add/newinfo-add.component.css";

app-main{width: 79%;}
app-myinfo{width: 79%;}
app-repass{width: 79%;}
app-repass-spw{width: 79%;}
app-tb-index{width: 79%;}
app-tb-index-add{width: 79%;}
app-tb-index{width: 79%;}
app-tb-index-kline{width: 79%;}
app-tb-index-updata{width: 79%;}
app-message{width: 79%}
app-message-history{width: 79%;}
app-messageinfo{width: 79%;}
app-newinfo-add{width: 79%;}
app-newinfo-updata{width: 79%;}
app-news{width: 79%;}
app-point{width: 79%;}
app-pointinfo{width: 79%;}
app-pointlist{width: 79%;}
app-deldata{width: 79%;}
app-admin{width: 79%;}
app-admin-add{width: 79%;}
app-admin-updata{width: 79%;}
app-admingroup{width: 79%;}
app-admingroup-updata{width: 79%;}
app-level{width: 79%;}
app-level-add{width: 79%;}
app-level-updata{width: 79%;}
app-user{width: 79%;}
app-user-id{width: 79%;}
app-user-updata{width: 79%;}
app-usershow{width: 79%;}

*{
  margin:0 ;
  padding:0;
  box-sizing: initial !important;
}
html,body{
  width: 100%;
  height: 100%;
  line-height: inherit
}
input {
  box-sizing: border-box !important;
}
.background-img{
  display: flex;
  background: url("/assets/images/bg2.jpg");
  font-size: 12px;
  width: 100%;
  min-height: 100%;
  height: auto;
}
.height-div{
  min-height: 100%;
  height: auto;
}
.clear{
  clear: both;
}
.div-header{
  background: url("/assets/images/top_bg.jpg");
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  float: left;
  height: 31px;
}
.div-data{
  background: url("/assets/images/bottom_bg.jpg");
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  float: left;
  height: 31px;
}
.admin-div>.div-header{
  display: flex;
  align-items: center;
  justify-content:center;
}
.admin-div>.div-data{
  display: flex;
  align-items: center;
  justify-content:center;
}
.button-width{
  width: auto;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.div-center{
  display: flex;
  align-items: center;
  justify-content:center;
}
.padding-top-15px{
  padding-top: 15px;
}

.div-center-align{
  align-items: center;
}
.div-width{
  width: 100%;
}

.user-background{
  min-height: 100%;
  width: 100%;
  height: auto;
  background: url("/assets/images/user-background.jpg");
}
.user-div{
  padding-top: 50px;
  min-height: 600px;
  display: flex;
  justify-content:center;
}
.user-center{
  width: 80%;
  border: solid 1px #badee3;
}
.user-padding-border{
  padding: 3px;
  background-color: #FFFFFF;
}
.user-top{
  background-image: url("assets/images/user_top.jpg");
  padding: 11px;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}
.user-top>img{
  padding-right: 11px;
}
.user-bottom{
  padding: 15px;
  background-image: url("assets/images/user_bottom.jpg");
}
.user-left{
  font-weight: bold;
  color: #016682;
  background: url("assets/images/user_left.jpg") repeat-x;
  border-bottom: solid 1px #b8cccd;
  width: 20%;
  height: 31px;
  text-align: -webkit-center;
  float: left;
  font-size: 12px;
}
.user-right{
  float: left;
  height: 31px;
  width: 80%;
  text-align: -webkit-left;
  color: #666666;
  background: url("assets/images/user_right.jpg") repeat-x;
  border-bottom: solid 1px #b8cccd;
  font-size: 12px;
}
.user-left>p{
  color: #016682;
  margin-bottom: 0;
}
.user-right>p{
  padding-left: 20px;
  margin: 0;
}
.user-right>.user-input{
  padding-left: 20px
}
.user-input>span{
  color: #0084ff;
}
.button-center{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-center>img{
  padding-top: 15px;
}
.user-header-width{
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.user-header-message{
  padding: 10px;
  background-image: url("assets/images/user-div-header.jpg");
  font-weight: bold;
  color: #016682;
  border-bottom: solid 1px #b8cccd;
  border-right: solid 1px #b8cccd;
  display: flex;
  justify-content: center;
  float: left;
}
.font-size{
  font-size: 12px;
}
.ngFor-user-header-message{
  display: flex;
  justify-content: center;
  float: left;
  padding: 6px 10px;
  color: #0084ff;
  background: url("assets/images/ngfor.jpg");
  border-bottom: solid 1px #b8cccd;
  border-right: solid 1px #b8cccd;
  font-size: 14px;
  font-weight: bold;
}
.button-center>img{
  cursor: pointer;
}
.user-header{
  height: 70px;
  width: 100%;
  background: url("assets/images/user-header.jpg") repeat-x;
}
.user-heaser-message{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding-left: 246px;
  padding-top: 35px;
}
.user-heaser-message>a{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  text-decoration:none;
}
.user-bottom>.user-right {
  display: flex;
  align-items: center;
}
