<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-money.png">
          消费记录明细
        </div>
        <div class="user-bottom">
          <div class="user-header-width">
            <div class="user-header-message user-header-10">序号</div>
            <div class="user-header-message user-header-10">地区</div>
            <div class="user-header-message user-header-23">基地名称</div>
            <div class="user-header-message user-header-23">消费金额</div>
            <div class="user-header-message user-header-23">消费日期</div>
          </div>
          <div>
            <div class="user-header-width" *ngFor="let item of moneyData.data;let i = index">
              <div class="ngFor-user-header-message user-header-10">{{moneyData.data.length - i}}</div>
              <div class="ngFor-user-header-message user-header-10">{{item.district}}</div>
              <div class="ngFor-user-header-message user-header-23">{{item.locationName}}</div>
              <div class="ngFor-user-header-message user-header-23">{{item.amount}}</div>
              <div class="ngFor-user-header-message user-header-23">{{item.consumeTime}}</div>
            </div>
          </div>
          <div class="button-center font-size padding-top-15px">
            <div class="row div-news-width">
              <div class="col-xs-12 col-12 div-center padding-top-15px">
                <pagination [boundaryLinks]="!showBoundaryLinks" [totalItems]="this.moneyTotal / 2"
                            [maxSize]="10" (pageChanged)="pageChanged($event)"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
