<div class="background-img height-div">
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-currency-menu></app-currency-menu>
  </div>
  <div class="main-div">
    <div class="td-index-kline-title">
      盛华天宝K线图
    </div>
    <div class="myinfo-div">
      <div class="kline-div">
        <div class="opening-quotation">
          <span>开盘：1234</span>
          &nbsp;
          <span class="opening-color">最高：1313</span>
        </div>
        <div class="closing-quotation">
          <span>收盘：1234</span>
          &nbsp;
          <span class="quotation-color">最低：1313</span>
        </div>
        <div class="kline-chart">
          <div echarts [options]="shExponent" class="demo-chart"></div>
        </div>
      </div>
      <div class="kline-br"></div>
      <div class="kline-div">
        <div class="opening-quotation">
          <span>开盘：1234</span>
          &nbsp;
          <span class="opening-color">最高：1313</span>
        </div>
        <div class="closing-quotation">
          <span>收盘：1234</span>
          &nbsp;
          <span class="quotation-color">最低：1313</span>
        </div>
        <div class="kline-chart">
          <div echarts [options]="tbExponent" class="demo-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
