.td-index-kline-title{
/*  display: flex;
  align-items: center;
  justify-content: center;*/
  font-size: 22px;
  font-family: '微软雅黑';
  color: #666666;
  padding-top: 15px;
}

.opening-quotation>span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.closing-quotation>span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.opening-quotation>.opening-color{
  color: #f40;
}
.closing-quotation>.quotation-color{
  color: #369;
}
.kline-chart{
  border: 1px solid #369;
  margin-bottom: 20px;
  min-width: 400px;
  height: 400px;
}
.kline-br{
  width: 100%;
  height: 6px;
  border-bottom: 1px dotted #333;
  margin-bottom: 16px;
}
