<div class="user-background">
  <div>
    <app-user-menu></app-user-menu>
  </div>
  <div>
    <app-user-header></app-user-header>
  </div>
  <div class="user-div">
    <div class="user-center">
      <div class="user-padding-border">
        <div class="user-top">
          <img src="../../../../../assets/images/menu-money.png">
          消费记录明细
        </div>
        <div class="user-bottom">
          <div class="button-center">
            <p>当前总积分：</p>
          </div>
          <div class="user-header-width">
            <div class="user-header-message user-header-38">结算日期</div>
            <div class="user-header-message user-header-15">权重比例</div>
            <div class="user-header-message user-header-19">结算前总积分</div>
            <div class="user-header-message user-header-19">结算后总积分</div>
          </div>
          <div class="user-header-width" *ngFor="let item of pointData.data;let i = index">
            <div class="ngFor-user-header-message user-header-38">
              {{item.updateTime}}
            </div>
            <div class="ngFor-user-header-message user-header-15">
              {{item.ratio * 100}}%
            </div>
            <div class="ngFor-user-header-message user-header-19">
              {{item.startPoints}}
            </div>
            <div class="ngFor-user-header-message user-header-19">
              {{item.endPoints}}
            </div>
          </div>
          <div class="row " id="ceshi">
            <div class="col-xs-12 col-12 div-center padding-top-15px">
              <pagination [boundaryLinks]="!showBoundaryLinks" [totalItems]="this.pointTotal / 2"
                          [maxSize]="10" (pageChanged)="pageChanged($event)"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
